<div>
    <div class="row">
        <div class="col-sm-4"><h2>My Charts</h2></div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary float-right" routerLink="/nap">Set my Data</button>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="dateData.datasets.length == 1 || dateData.datasets.length == 1">
        <div class="col-sm-6" *ngIf="dateData.datasets.length == 1">
            <p-chart type="line" [data]="dateData" [options]="optionsDate"></p-chart>
        </div>
        <div class="col-sm-6" *ngIf="durationData.datasets.length == 1">
            <p-chart type="line" [data]="durationData" [options]="optionsDuration"></p-chart>
        </div>
    </div>
    <div *ngIf="dateData.datasets.length == 0 && durationData.datasets.length == 0" align="center">
        <h2>Looks like you have no data, try <a routerLink="/nap">setting</a> it first, then come back</h2>
    </div>
</div>
