<div>
    <h2><span>interactive</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="table-responsive" *ngIf="interactives">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let interactive of interactives ;trackBy: trackId">
            </tr>
            </tbody>
        </table>
    </div>
</div>
