<div *ngIf="isAuthenticated()">
    <h1 align="center">Welcome, Sleepy Head!</h1>
    <div align="center">
        <button type="button" class="btn btn-outline-secondary" routerLink="dashboard-chart">See my charts</button>
        <button type="button" class="btn btn-outline-primary" routerLink="nap">Set my Data</button>
    </div>
</div>

<div *ngIf="!isAuthenticated()">
    <div class="alert alert-warning">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a> then
        <a class="alert-link" routerLink="register">Register a new account</a>
    </div>
</div>
