<div *ngIf="isAuthenticated()">
    <h1 align="center" id="welcome-message">Welcome, Sleepy Head!</h1>
    <div align="center">
        <button type="button" class="btn btn-outline-secondary" routerLink="dashboard-chart">See my charts</button>
        <button type="button" class="btn btn-outline-primary" routerLink="nap">Set my Data</button>
    </div>
</div>

<div *ngIf="!isAuthenticated()">
    <h2 align="center">Your one-stop shop for analyzing sleep data</h2>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h3 align="center">Investigate your sleeping habits</h3>
            <p-chart type="line" [data]="dateData" [options]="optionsDate"></p-chart>
        </div>
        <div class="col-sm-6">
            <h3 align="center">Find the best amount of sleep for you</h3>
            <p-chart type="line" [data]="durationData" [options]="optionsDuration"></p-chart>
        </div>
    </div>
</div>
