
<div *ngIf="nap">
    <h2><span>Nap</span> {{nap.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Duration</span></dt>
        <dd>
            <span>{{nap.duration}}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
            <span>{{nap.rating}}</span>
        </dd>
        <dt><span>Day</span></dt>
        <dd>
            <span>{{nap.day}}</span>
        </dd>
        <dt><span>Exercise</span></dt>
        <dd>
            <span>{{nap.exercise}}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
            <div *ngIf="nap.person">
                <a [routerLink]="['/person', nap.person?.id]">{{nap.person?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'nap/'+ nap.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
