<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNapLabel">Create or edit a Nap</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!nap.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="nap.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                [(ngModel)]="nap.duration" required/>
            <div [hidden]="!(editForm.controls.duration?.dirty && editForm.controls.duration?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.duration?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.duration?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                [(ngModel)]="nap.rating" required min="0" max="10"/>
            <div [hidden]="!(editForm.controls.rating?.dirty && editForm.controls.rating?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.rating?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.rating?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.rating?.errors?.max">
                    This field cannot be more than 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.rating?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker
                       #dateDp="ngbDatepicker" [(ngModel)]="nap.date" required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar">
                        </i></button>
                </span>
            </div>
        </div>
        <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="nap.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === nap.user?.id ? nap.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
